<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSRTOnlyConversion</key>
	<true/>
	<key>NPLanguage</key>
	<string>Polish</string>
	<key>NPPassword</key>
	<string></string>
	<key>NPUsername</key>
	<string></string>
	<key>OutputEncoding</key>
	<string>UTF-8</string>
	<key>OutputFormat</key>
	<string>TXT</string>
</dict>
</plist>
